/* Full viewport section */
.welcome-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.index-light {
    position: absolute;
    top: -50px;
    left: -350px;
    width: 1752px;
    height: 800px;
    transform: rotate(-15deg) scale(1.2);
    filter: invert(1);
    animation: floatLight 6s ease-in-out infinite;
}

.index-particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    animation: floatParticles 10s linear infinite;
    opacity: 0.8;
}

.welcome-content {
    position: relative;
    z-index: 10;
    color: #fff;
    text-align: center;
    max-width: 1280px;
    width: 100%;
}

.heading-h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 64px;
    text-align: center;
}

.heading-h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 64px;
    text-align: center;
}

.welcome-content p {
    color: #94a3b8;
    font-size: 18px;
}

.why-choose-us {
    max-width: 1280px;
    width: 100%;
}

.why-choose-us p {
    color: #94a3b8;
    font-size: 18px;
}

.gradient-text {
    background: linear-gradient(to right, #bbd0ff, #7aa3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.tick-text {
    font-weight: 500;
    font-size: 16px;
}

.welcome-action-btn {
    height: 56px;
    width: 100%;
    max-width: 280px;
    font-weight: 500;
    font-size: 1rem;
    transition: filter 0.2s ease;
}

.before-after-section {
    display: flex;
    flex-direction: row;
    width: 1280px;
}

.before-cross {
    width: 22px;
    height: 22px;
    border-radius: 9999px;
    margin-right: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #94a3b8;
    font-size: 20px;
}

.why-choose-us-check {
    width: 22px;
    height: 22px;
    border-radius: 9999px;
    margin-right: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #2563eb;
    font-size: 20px;
}

.responsive-img-wrapper {
    width: 100%;
    max-height: 300px;
}

.hear-from-our-customers {
    max-width: 1280px;
    width: 100%;
}

.ready-to-launch {
    width: 100%;
    padding: 80px !important;
    /* background:#2155FF; */
    background: radial-gradient(circle at 50% 0%, rgba(255,255,255,0.3) 0%, transparent 50%), #1d4ed8;
}

.ready-to-launch-action-btn {
    background-color: #fff !important;
    height: 56px;
    width: 100%;
    max-width: 180px;
    font-weight: 500;
    font-size: 1rem;
    transition: filter 0.2s ease;
    border-radius: 2px !important;
    border: 1px solid rgba(255,255,255,0.2);
}

.ready-to-launch-action-btn:hover {
    color: #2563eb !important;
}
.signup-with-google {
    background: radial-gradient(circle at 50% 0%, rgba(255,255,255,0.1) 0%, transparent 60%), #34497A !important;
    border: 1px solid rgba(255,255,255,0.2);
}

.btn-primary.signup-with-google:hover {
    background: radial-gradient(circle at 50% 0%, rgba(255,255,255,0.1) 0%, transparent 60%), #34497A !important;
}

.glitch-text {
    -webkit-text-stroke: 1px #1e293b;
    color: #0f172a;
}

/* Mobile size */
.glitch-text {
    font-size: 4rem;
}

/* Desktop size */
@media (min-width: 992px) {
    .glitch-text {
        font-size: 12rem;
        transform: translateY(12px);
    }
}


@media (min-width: 992px) {
    .responsive-img-wrapper {
        height: 250px;
        width: 220px;
    }
}

@keyframes floatLight {
    0% {
        transform: translateY(0px) rotate(-15deg) scale(1.2);
    }
    25% {
        transform: translateY(-10px) rotate(-12deg) scale(1.21);
    }
    50% {
        transform: translateY(0px) rotate(-15deg) scale(1.2);
    }
    75% {
        transform: translateY(-8px) rotate(-18deg) scale(1.22);
    }
    100% {
        transform: translateY(0px) rotate(-15deg) scale(1.2);
    }
}

@keyframes floatParticles {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@media (max-width: 1280px) {
    .before-after-section {
        max-width: 100%;
        width: 100%;
        flex-direction: column;
        /* margin: 20px; */
    }
}

@media (max-width: 768px) {
    .heading-h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .heading-h1 {
        font-size: 33px;
        line-height: 40px;
    }

    .welcome-action-btn {
        max-width: 100%;
    }
}
